.auth-form-container1 {
  text-align: center;
  display: block;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-image: url("C:\Users\prasa\OneDrive\Desktop\invest\src\bgimage2.jpg");
  background-attachment: fixed;
}
.auth-form-container, .login-form {
  display: block;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .auth-form-container1 {
    padding:10px 0px 20px 10px;
  }
}

.l1{
  margin: 160px 0px 20px 20px;
  padding: 0px 0px 0px 0px;
}

.em{
  text-align: center;
  padding: 10px;
  margin:10px 290px 0px 0px;
}
.pa{
  text-align: center;
  padding: 10px;
  margin:10px 260px 0px 0px;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  margin-right: 10%;
}

.i1 {
  margin: 10px 0px 10px 0px;
  padding: 20px 20px 20px 10px;
  border: none;
  border-radius: 10px;
  width: 300px;
}

.button1 {
  border: none;
  background-color: rgb(247, 8, 8);
  padding: 10px 20px 10px 20px;
  margin: 20px 0px 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  color:rgb(255, 255, 255);
  width: fit-content;
}

/* .link-btn {
  background: none;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  background-color: transparent;
} */

.link-btn1 {
  background: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
  margin:0px 0px 0px 0px;
}
/* .cl{
  padding: 0px 0px 0px 70px;
  color:rgb(255, 0, 0) ;
} */